#game_page {
    display: inline-flex;
    width: 100%;
    height: 400px;
    justify-content: space-between;
}

#game_page input {
    background-color: #93dfff;
    border: 0;
    width: 100px;
    cursor: context-menu;
    padding: 0px 0px;
    margin: 0px 0px;
    color: #036e9d;
}

#game_page input:focus {
    outline: none;
}

#game_page h1 {
    margin-block-start: 0;
    margin-block-end: 0.1em;
}

#game_page h3 {
    margin: 0 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 1px;
}

#game_page label {
    font-weight: bold;
}

.centerDiv {
    display: flex;
    justify-content: space-around;
}

#game_status,
#game_setting {
    width: 15%;
    display: flex;
    flex-direction: column;
}

#game_status {
    margin-left: 15px !important;
}

#game_setting {
    margin-right: 15px !important;
}

#game_setting label,
input {
    font-size: medium;
}


#game_status label,
input {
    font-size: large;
}


/* setting section */
.gameSettingDisplay {
    display: flex;
    flex-direction: column;
}

.generalSettingContainer,
.ballColorContainer,
.keysContainer {
    display: inline-flex;
    justify-content: space-between;
}

.MonsterContainer {
    display: inline-flex;
}

.MonsterContainer input {
    width: 40px !important;
    height: 40px;
    display: none;
}

.generalSettingContainer input {
    width: 92px !important;
    text-align: left;
}

.ballColorContainer input {
    width: 50px !important;
    height: 20px !important;
    margin-bottom: 1px !important;
    margin-right: 48px !important;
}


/* status section */
.statusItemDiv {
    display: flex;
    flex-direction: column;
}

#lifesLeftDiv {
    display: inline-flex;
    width: 100%;
}

#lifesLeftDiv img {
    width: 10%;
}

#newGameDiv {
    margin-top: 12px;
}

.Monster {
    display: none;
}